###Import Data

In [4]:
import pandas as pd

# File yang akan digunakan
df = pd.read_excel('Sales Marketplace Jan 2022 s_d Jun 2023 For Narasio (Updated).xlsx')

In [5]:
df

,Order Date,Channel,Store,Sales Order ID,Order Reference No.,Payment Status,Fulfillment Status,Payment Type,Payment Date,Shipping Label Printed Date,...,Shipping City,Shipping Zip,Shipping Province,Shipping Country,Order Note,Picklist ID,Package ID,Shipment ID,Invoice ID,Return ID
0,30/06/2023 23:31 WIB,Shopee,SP-Powertec,SO-133433816,230701RG19MXN8,Paid,Completed,Online Payment,01/07/2023 21:05 WIB,03/07/2023 09:39 WIB,...,KAB. BADUNG,80361,BALI,Indonesia,NaN,NaN,NaN,SHP-50034434,INV-7493225,NaN
1,30/06/2023 23:24 WIB,Tokopedia,TP-Megajaya,SO-133433690,INV/20230630/MPL/3320394135,Paid,Completed,BCA Virtual Account,30/06/2023 23:24 WIB,01/07/2023 09:14 WIB,...,Kab. Tangerang,15810,Banten,Indonesia,NaN,NaN,NaN,SHP-49984546,INV-7397140,NaN
2,30/06/2023 22:44 WIB,Shopee,SP-Megajaya,SO-133432932,230630RDE5VAJQ,Cancelled,Cancelled,Online Payment,01/01/1970 07:00 WIB,NaN,...,KOTA BENGKULU,38121,BENGKULU,Indonesia,NaN,NaN,NaN,SHP-50001316,NaN,NaN
3,30/06/2023 22:13 WIB,Tokopedia,TP-Powertec,SO-133432239,INV/20230630/MPL/3320319767,Paid,Completed,BCA Virtual Account,30/06/2023 22:13 WIB,01/07/2023 09:02 WIB,...,Kab. Bandung,40218,Jawa Barat,Indonesia,NaN,NaN,NaN,SHP-49984769,INV-7411676,NaN
4,30/06/2023 22:13 WIB,Tokopedia,TP-Powertec,SO-133432239,INV/20230630/MPL/3320319767,Paid,Completed,BCA Virtual Account,30/06/2023 22:13 WIB,01/07/2023 09:02 WIB,...,Kab. Bandung,40218,Jawa Barat,Indonesia,NaN,NaN,NaN,SHP-49984769,INV-7411676,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72247,24/01/2022 11:58 WIB,Bukalapak,BL-Megajaya,SO-116501732,223223948040,Paid,Delivered,virtual_account,15/01/2022 07:06 WIB,NaN,...,Kab. Mojokerto,61385,Jawa Timur,Indonesia,"Kapasitas 0,75ton atau 1ton. Kalo tidak ada. C...",NaN,NaN,SHP-33572671,NaN,NaN
72248,24/01/2022 11:58 WIB,Bukalapak,BL-Megajaya,SO-116501728,223226674650,Paid,Delivered,credit_card,23/01/2022 17:23 WIB,NaN,...,Rote Ndao,85971,Nusa Tenggara Timur,Indonesia,NaN,NaN,NaN,SHP-33572669,NaN,NaN
72249,24/01/2022 11:58 WIB,Bukalapak,BL-Megajaya,SO-116501734,223223361369,Paid,Delivered,virtual_account,13/01/2022 10:44 WIB,NaN,...,Bekasi,17152,Jawa Barat,Indonesia,NaN,NaN,NaN,SHP-33572676,NaN,NaN
72250,23/01/2022 09:36 WIB,Tokopedia,TP-Toyohoist,SO-116465865,INV/20220122/MPL/1970067427,Paid,Delivered,Transfer Manual,23/01/2022 09:36 WIB,NaN,...,Kab. Bantaeng,92451,Sulawesi Selatan,Indonesia,NaN,NaN,NaN,SHP-33569117,NaN,NaN
72251,19/01/2022 16:32 WIB,Woocommerce,WO-Megajaya,SO-116349724,20353,Paid,Shipped,xendit_bcava,19/01/2022 16:32 WIB,NaN,...,Jakarta Timur,13910,DKI Jakarta,Indonesia,NaN,PL-01805,NaN,SHP-33671598,NaN,NaN

In [6]:
# Menampilkan lima baris pertama data
print(df.head())

             Order Date    Channel        Store Sales Order ID  \
0  30/06/2023 23:31 WIB     Shopee  SP-Powertec   SO-133433816
1  30/06/2023 23:24 WIB  Tokopedia  TP-Megajaya   SO-133433690
2  30/06/2023 22:44 WIB     Shopee  SP-Megajaya   SO-133432932
3  30/06/2023 22:13 WIB  Tokopedia  TP-Powertec   SO-133432239
4  30/06/2023 22:13 WIB  Tokopedia  TP-Powertec   SO-133432239

           Order Reference No. Payment Status Fulfillment Status  \
0               230701RG19MXN8           Paid          Completed
1  INV/20230630/MPL/3320394135           Paid          Completed
2               230630RDE5VAJQ      Cancelled          Cancelled
3  INV/20230630/MPL/3320319767           Paid          Completed
4  INV/20230630/MPL/3320319767           Paid          Completed

          Payment Type          Payment Date Shipping Label Printed Date  ...  \
0       Online Payment  01/07/2023 21:05 WIB        03/07/2023 09:39 WIB  ...
1  BCA Virtual Account  30/06/2023 23:24 WIB        01/07/2023 09:14 WIB  ...
2       Online Payment  01/01/1970 07:00 WIB                         NaN  ...
3  BCA Virtual Account  30/06/2023 22:13 WIB        01/07/2023 09:02 WIB  ...
4  BCA Virtual Account  30/06/2023 22:13 WIB        01/07/2023 09:02 WIB  ...

    Shipping City Shipping Zip Shipping Province Shipping Country Order Note  \
0     KAB. BADUNG        80361              BALI        Indonesia        NaN
1  Kab. Tangerang        15810            Banten        Indonesia        NaN
2   KOTA BENGKULU        38121          BENGKULU        Indonesia        NaN
3    Kab. Bandung        40218        Jawa Barat        Indonesia        NaN
4    Kab. Bandung        40218        Jawa Barat        Indonesia        NaN

  Picklist ID Package ID   Shipment ID   Invoice ID Return ID
0         NaN        NaN  SHP-50034434  INV-7493225       NaN
1         NaN        NaN  SHP-49984546  INV-7397140       NaN
2         NaN        NaN  SHP-50001316          NaN       NaN
3         NaN        NaN  SHP-49984769  INV-7411676       NaN
4         NaN        NaN  SHP-49984769  INV-7411676       NaN

[5 rows x 48 columns]

In [7]:
# Menampilkan informasi umum tentang dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72252 entries, 0 to 72251
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Order Date                   72252 non-null  object
 1   Channel                      72252 non-null  object
 2   Store                        72250 non-null  object
 3   Sales Order ID               72252 non-null  object
 4   Order Reference No.          72252 non-null  object
 5   Payment Status               72252 non-null  object
 6   Fulfillment Status           72252 non-null  object
 7   Payment Type                 66144 non-null  object
 8   Payment Date                 71217 non-null  object
 9   Shipping Label Printed Date  51644 non-null  object
 10  Ready to Ship Date           35963 non-null  object
 11  Shipped Date                 38906 non-null  object
 12  Delivered Date               26446 non-null  object
 13  Completed Date               2886 non-null   object
 14  Cancelled Date               1922 non-null   object
 15  Shipping Courier             70061 non-null  object
 16  Service Type                 71827 non-null  object
 17  AWB                          48665 non-null  object
 18  Customer Name                72206 non-null  object
 19  Currency Code                72252 non-null  object
 20  Item Name In Marketplace     72252 non-null  object
 21  Item Note                    2132 non-null   object
 22  Item Name in SAP             72252 non-null  object
 23  Item Group                   72252 non-null  object
 24  Item Group Detail            72252 non-null  object
 25  Brand                        72252 non-null  object
 26  SKU Code                     72252 non-null  int64
 27  Warehouse Name               72054 non-null  object
 28  Warehouse Code               64466 non-null  object
 29  Quantity                     72252 non-null  int64
 30  Regular Price                72252 non-null  int64
 31  Selling Price                72252 non-null  int64
 32  Sub Total                    72252 non-null  int64
 33  Shipping Fee (Non-cashless)  72252 non-null  int64
 34  Platform Rebate              72252 non-null  int64
 35  Voucher Seller               72252 non-null  int64
 36  Total                        72252 non-null  int64
 37  Shipping Fee (Cashless)      72252 non-null  int64
 38  Shipping City                72234 non-null  object
 39  Shipping Zip                 71034 non-null  object
 40  Shipping Province            72077 non-null  object
 41  Shipping Country             72252 non-null  object
 42  Order Note                   2204 non-null   object
 43  Picklist ID                  6 non-null      object
 44  Package ID                   4 non-null      object
 45  Shipment ID                  71084 non-null  object
 46  Invoice ID                   52467 non-null  object
 47  Return ID                    0 non-null      float64
dtypes: float64(1), int64(10), object(37)
memory usage: 26.5+ MB
None

In [8]:
# Menampilkan statistik deskriptif dari dataset
print(df.describe())

           SKU Code      Quantity  Regular Price  Selling Price     Sub Total  \
count  7.225200e+04  72252.000000   7.225200e+04   7.225200e+04  7.225200e+04
mean   1.080394e+10     11.057853   1.662402e+05   1.661096e+05  3.297800e+05
std    5.613346e+08     62.771170   7.434798e+05   7.433740e+05  1.137376e+06
min    1.010300e+10      1.000000   0.000000e+00   0.000000e+00  0.000000e+00
25%    1.070200e+10      1.000000   7.410000e+03   7.410000e+03  2.340000e+04
50%    1.071200e+10      2.000000   2.170000e+04   2.169200e+04  6.279000e+04
75%    1.100300e+10      6.000000   7.965750e+04   7.956000e+04  2.197000e+05
max    2.011503e+10  10000.000000   1.080000e+08   1.080000e+08  1.080000e+08

       Shipping Fee (Non-cashless)  Platform Rebate  Voucher Seller  \
count                 7.225200e+04     72252.000000    72252.000000
mean                  8.149601e+02         0.041521      523.860474
std                   2.680946e+04        11.160826     2178.878741
min                   0.000000e+00         0.000000        0.000000
25%                   0.000000e+00         0.000000        0.000000
50%                   0.000000e+00         0.000000        0.000000
75%                   0.000000e+00         0.000000        0.000000
max                   2.294500e+06      3000.000000    60000.000000

              Total  Shipping Fee (Cashless)  Return ID
count  7.225200e+04             7.225200e+04        0.0
mean   3.375792e+05             2.836983e+04        NaN
std    1.408522e+06             8.500058e+04        NaN
min    0.000000e+00             0.000000e+00        NaN
25%    0.000000e+00             0.000000e+00        NaN
50%    4.980000e+04             1.300000e+04        NaN
75%    2.040000e+05             2.800000e+04        NaN
max    1.080000e+08             9.858000e+06        NaN

In [9]:
# Menampilkan jumlah nilai yang hilang pada setiap kolom
print(df.isnull().sum())

Order Date                         0
Channel                            0
Store                              2
Sales Order ID                     0
Order Reference No.                0
Payment Status                     0
Fulfillment Status                 0
Payment Type                    6108
Payment Date                    1035
Shipping Label Printed Date    20608
Ready to Ship Date             36289
Shipped Date                   33346
Delivered Date                 45806
Completed Date                 69366
Cancelled Date                 70330
Shipping Courier                2191
Service Type                     425
AWB                            23587
Customer Name                     46
Currency Code                      0
Item Name In Marketplace           0
Item Note                      70120
Item Name in SAP                   0
Item Group                         0
Item Group Detail                  0
Brand                              0
SKU Code                           0
Warehouse Name                   198
Warehouse Code                  7786
Quantity                           0
Regular Price                      0
Selling Price                      0
Sub Total                          0
Shipping Fee (Non-cashless)        0
Platform Rebate                    0
Voucher Seller                     0
Total                              0
Shipping Fee (Cashless)            0
Shipping City                     18
Shipping Zip                    1218
Shipping Province                175
Shipping Country                   0
Order Note                     70048
Picklist ID                    72246
Package ID                     72248
Shipment ID                     1168
Invoice ID                     19785
Return ID                      72252
dtype: int64

In [10]:
# Menampilkan jumlah total nilai yang hilang dalam seluruh DataFrame
print(df.isnull().sum().sum())

696401

###Menghilangkan Duplicate Data

In [11]:
# Menampilkan jumlah data duplikat
print(df.duplicated().sum())

107

In [12]:
# Menghapus data duplikat sementara untuk memeriksa keseluruhan DataFrame
duplicates_removed_data = df.drop_duplicates()

In [13]:
# Memeriksa apakah ada data duplikat dalam DataFrame
print(duplicates_removed_data.duplicated().any())

False

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72252 entries, 0 to 72251
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Order Date                   72252 non-null  object
 1   Channel                      72252 non-null  object
 2   Store                        72250 non-null  object
 3   Sales Order ID               72252 non-null  object
 4   Order Reference No.          72252 non-null  object
 5   Payment Status               72252 non-null  object
 6   Fulfillment Status           72252 non-null  object
 7   Payment Type                 66144 non-null  object
 8   Payment Date                 71217 non-null  object
 9   Shipping Label Printed Date  51644 non-null  object
 10  Ready to Ship Date           35963 non-null  object
 11  Shipped Date                 38906 non-null  object
 12  Delivered Date               26446 non-null  object
 13  Completed Date               2886 non-null   object
 14  Cancelled Date               1922 non-null   object
 15  Shipping Courier             70061 non-null  object
 16  Service Type                 71827 non-null  object
 17  AWB                          48665 non-null  object
 18  Customer Name                72206 non-null  object
 19  Currency Code                72252 non-null  object
 20  Item Name In Marketplace     72252 non-null  object
 21  Item Note                    2132 non-null   object
 22  Item Name in SAP             72252 non-null  object
 23  Item Group                   72252 non-null  object
 24  Item Group Detail            72252 non-null  object
 25  Brand                        72252 non-null  object
 26  SKU Code                     72252 non-null  int64
 27  Warehouse Name               72054 non-null  object
 28  Warehouse Code               64466 non-null  object
 29  Quantity                     72252 non-null  int64
 30  Regular Price                72252 non-null  int64
 31  Selling Price                72252 non-null  int64
 32  Sub Total                    72252 non-null  int64
 33  Shipping Fee (Non-cashless)  72252 non-null  int64
 34  Platform Rebate              72252 non-null  int64
 35  Voucher Seller               72252 non-null  int64
 36  Total                        72252 non-null  int64
 37  Shipping Fee (Cashless)      72252 non-null  int64
 38  Shipping City                72234 non-null  object
 39  Shipping Zip                 71034 non-null  object
 40  Shipping Province            72077 non-null  object
 41  Shipping Country             72252 non-null  object
 42  Order Note                   2204 non-null   object
 43  Picklist ID                  6 non-null      object
 44  Package ID                   4 non-null      object
 45  Shipment ID                  71084 non-null  object
 46  Invoice ID                   52467 non-null  object
 47  Return ID                    0 non-null      float64
dtypes: float64(1), int64(10), object(37)
memory usage: 26.5+ MB

In [16]:
# List kolom yang berisi tanggal (date)
date_columns = ['Order Date', 'Payment Date', 'Shipping Label Printed Date', 'Ready to Ship Date',
                'Shipped Date', 'Delivered Date', 'Completed Date', 'Cancelled Date']

# Ubah tipe data kolom-kolom tersebut menjadi datetime
for column in date_columns:
    df[column] = pd.to_datetime(df[column])

# Tampilkan hasil perubahan tipe data
print(df.dtypes)

/usr/local/lib/python3.10/dist-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname WIB identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/usr/local/lib/python3.10/dist-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname WIB identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/usr/local/lib/python3.10/dist-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname WIB identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/usr/local/lib/python3.10/dist-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname WIB identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/usr/local/lib/python3.10/dist-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname WIB identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/usr/local/lib/python3.10/dist-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname WIB identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/usr/local/lib/python3.10/dist-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname WIB identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
/usr/local/lib/python3.10/dist-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname WIB identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

Order Date                     datetime64[ns]
Channel                                object
Store                                  object
Sales Order ID                         object
Order Reference No.                    object
Payment Status                         object
Fulfillment Status                     object
Payment Type                           object
Payment Date                   datetime64[ns]
Shipping Label Printed Date    datetime64[ns]
Ready to Ship Date             datetime64[ns]
Shipped Date                   datetime64[ns]
Delivered Date                 datetime64[ns]
Completed Date                 datetime64[ns]
Cancelled Date                 datetime64[ns]
Shipping Courier                       object
Service Type                           object
AWB                                    object
Customer Name                          object
Currency Code                          object
Item Name In Marketplace               object
Item Note                              object
Item Name in SAP                       object
Item Group                             object
Item Group Detail                      object
Brand                                  object
SKU Code                                int64
Warehouse Name                         object
Warehouse Code                         object
Quantity                                int64
Regular Price                           int64
Selling Price                           int64
Sub Total                               int64
Shipping Fee (Non-cashless)             int64
Platform Rebate                         int64
Voucher Seller                          int64
Total                                   int64
Shipping Fee (Cashless)                 int64
Shipping City                          object
Shipping Zip                           object
Shipping Province                      object
Shipping Country                       object
Order Note                             object
Picklist ID                            object
Package ID                             object
Shipment ID                            object
Invoice ID                             object
Return ID                             float64
dtype: object

In [17]:
# Menampilkan jumlah nilai yang hilang pada setiap kolom
print(df.isnull().sum())

Order Date                         0
Channel                            0
Store                              2
Sales Order ID                     0
Order Reference No.                0
Payment Status                     0
Fulfillment Status                 0
Payment Type                    6108
Payment Date                    1035
Shipping Label Printed Date    20608
Ready to Ship Date             36289
Shipped Date                   33346
Delivered Date                 45806
Completed Date                 69366
Cancelled Date                 70330
Shipping Courier                2191
Service Type                     425
AWB                            23587
Customer Name                     46
Currency Code                      0
Item Name In Marketplace           0
Item Note                      70120
Item Name in SAP                   0
Item Group                         0
Item Group Detail                  0
Brand                              0
SKU Code                           0
Warehouse Name                   198
Warehouse Code                  7786
Quantity                           0
Regular Price                      0
Selling Price                      0
Sub Total                          0
Shipping Fee (Non-cashless)        0
Platform Rebate                    0
Voucher Seller                     0
Total                              0
Shipping Fee (Cashless)            0
Shipping City                     18
Shipping Zip                    1218
Shipping Province                175
Shipping Country                   0
Order Note                     70048
Picklist ID                    72246
Package ID                     72248
Shipment ID                     1168
Invoice ID                     19785
Return ID                      72252
dtype: int64

In [19]:
df.dropna(subset=['Store'], inplace=True)

In [21]:
# Mengisi missing values pada kolom 'Payment Type' dengan nilai 'Not Specified'
df['Payment Type'].fillna('Not Specified', inplace=True)

# Mengisi missing values pada kolom 'Payment Date' dengan nilai 'Unknown'
df['Payment Date'].fillna('Unknown', inplace=True)

# Mengisi missing values pada kolom 'Shipping Label Printed Date' dengan nilai 'Not Printed'
df['Shipping Label Printed Date'].fillna('Not Printed', inplace=True)

In [23]:
print(df.isnull().sum())

Order Date                         0
Channel                            0
Store                              0
Sales Order ID                     0
Order Reference No.                0
Payment Status                     0
Fulfillment Status                 0
Payment Type                       0
Payment Date                       0
Shipping Label Printed Date        0
Ready to Ship Date             36287
Shipped Date                   33344
Delivered Date                 45804
Completed Date                 69364
Cancelled Date                 70328
Shipping Courier                2191
Service Type                     425
AWB                            23587
Customer Name                     46
Currency Code                      0
Item Name In Marketplace           0
Item Note                      70118
Item Name in SAP                   0
Item Group                         0
Item Group Detail                  0
Brand                              0
SKU Code                           0
Warehouse Name                   198
Warehouse Code                  7784
Quantity                           0
Regular Price                      0
Selling Price                      0
Sub Total                          0
Shipping Fee (Non-cashless)        0
Platform Rebate                    0
Voucher Seller                     0
Total                              0
Shipping Fee (Cashless)            0
Shipping City                     18
Shipping Zip                    1218
Shipping Province                175
Shipping Country                   0
Order Note                     70046
Picklist ID                    72244
Package ID                     72246
Shipment ID                     1168
Invoice ID                     19783
Return ID                      72250
dtype: int64